@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-primary: #f8f8f8;
    --background-secondary: rgb(255, 255, 255);

    --foreground-primary: #1a1919;
    --foreground-secondary: #292525;

    --accent-primary: #ffffff;
    --accent-secondary: #61563c;

    --border-primary: #ffffff;
    --border-secondary: #ebebeb;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-primary: #141414;
        --background-secondary: rgb(26, 24, 23);

        --foreground-primary: #ffffff;
        --foreground-secondary: #bebebe;

        --accent-primary: #ffffff;
        --accent-secondary: #61563c;

        --border-primary: #383737;
        --border-secondary: #383737;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
